.container{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
}
ul.tabmenu li.tablink{
    display: inline-block;
    background: var(--body-clr);
    width: 130px;
    color: var(--text-clr);
    padding: 20px 10px;
    cursor: pointer;
    text-align: center;
    border: 3px solid transparent;
}
ul.tabmenu li.tablink:hover{
    color: #695cfe;
}
ul.tabmenu li.tablink.current{
    border-bottom: 3px solid #695cfe;
    color: #695cfe;
}
.content{
    margin: 50px 0;
    width: 100%;
}
.contents{
    display: none;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.contents.current{
    display: flex;
}
.contents .codes{
    width: 1400px;
    display: flex;
    justify-content: center;
    align-items: stretch;
    margin: 30px 0;
}
.contents .codes .js,
.contents .codes .java{
    width: 50%;
}
.contents .codes .title{
    width: 100%;
    text-align: center;
    font-size: 24px;
    padding: 10px;
    border: 1px solid var(--black);
    border-bottom: none;
    color: var(--black);
}
.contents .codes pre{
    padding: 0 10px;
    width: 100%;
    border: 1px solid var(--black);
    background: #000;
    line-height: 1.3em;
    height: var(--h);
}
.contents .codes pre,
.contents .codes pre code,
.contents .codes pre code span{
    user-select: text;
}
.contents .codes pre code{
    padding: 0;
    overflow: hidden;
}
.contents .describe{
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 1400px;
    margin: 30px 0;
}
.contents .bigO{
    width: 50%;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    border: 1px solid var(--black);
    font-size: 18px;
}
.contents .bigO div,
.contents .bigO div span,
.contents .bigO div span sup, 
.contents .bigO div span sub{
    color: var(--black);
}
.contents .description{
    padding: 10px;
    width: 50%;
    border: 1px solid var(--black);
    color: var(--black);
    word-break: keep-all;
    line-height: 2em;
}