@font-face {
    font-family: '카페24단정해';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Danjunghae.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
.container{
    height: 1100px;
    margin-bottom: 100px;
}
.main_title{
    height: 300px;
    line-height: 300px;
    font-size: 60pt;
    text-align: center;
    font-family: '카페24단정해';
    color: #c0caea;
    -webkit-text-stroke: 1px #788dd2;
    text-shadow: 2pt 2pt #788dd2;
    transition: all 0.3s;
}
body.dark .main_title{
    color: #788dd2;
    -webkit-text-stroke-color: #2c2f3d;
    text-shadow: 2pt 2pt #1d1f2b;
}
.content{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 100px;
    width: 100%;
}
.content .contents{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 400px;
    height: 200px;
    border: 2px solid var(--text-clr);
    transition: all 0.3s;
}
.content .contents span{
    text-align: center;
    color: #000;
    margin: 10px;
    transition: all 0.3s;
}
.content .contents span.title{
    font-size: 22px;
}
.content .contents span.subtitle{
    font-size: 14px;
}
.content .contents:hover{
    border: 2px solid var(--primary-clr);
}
.content .contents:hover span{
    color: var(--primary-clr);
}
body.dark .content .contents span{
    color: var(--text-clr);
}
body.dark .content .contents:hover{
    border: 2px solid var(--toggle-clr);
}
body.dark .content .contents:hover span{
    color: var(--toggle-clr);
}